header {
    height: 400px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.flex-container {
    display: flex;
    border: solid black 2px;
    /* flex-direction: row;
    justify-content: space-evenly; */
}

.flex-container > div{
    flex: 1;
}

.flex-container > .about {
    flex: 2;
}


/* ! Shifting divs with margin-left auto */
/* .about {
    margin-left: auto;
    margin-right: auto;
} */

/* .logout {
    margin-left: auto;
} */

/* ! Content layout across the flexbox */
/* 
Justify-content:
flex-start, flex-end, center, space-around,
space-between, space-evenly 
*/

